component-receipt-management {
    table, th, td {
        border: 1px solid black;
        padding: 5px;
    }

    th{
        background-color: gainsboro;
    }
    ion-col{
        padding: 10px; 
    
    }

   
}
